<!-- EJS error 401 -->
<%- include('./includes/head', { pageTitle: 'An error occurred' }) %>

</head>
<body>
    <main>
        <h1>Not authenticated</h1>
        <p>You are not authenticated</p>
        <p><a class="btn" href="/perseus/home">Back to safety!</a></p>
    </main>
</body>  
