<!-- EJS error 403-->
<%- include('./includes/head', { pageTitle: 'An error occurred' }) %>

</head>
<body>
    <main>
        <h1>Not authorised</h1>
        <p>You are not authorised</p>
        <p><a class="btn" href="/perseus/home">Back to safety!</a></p>
    </main>
</body>  
