<!-- EJS error 404-->
<%- include('/includes/head', { pageTitle: 'An error occurred' }) %>

</head>
<body>
    <main>
        <h1>Could not find resource</h1>
        <p>Unfortunately, we could not find the requested source!</p>
        <p><a class="btn" href="/perseus/home"></a>Back to safety!</p>
    </main>
</body>  
