<!-- EJS error 500-->
<%- include('includes/head', { pageTitle: 'An Error Occurred' }) %>
</head>
<body>
    <main>
         <h1>Something went wrong!</h1>
         <p>Unfortunately something went wrong - please try again later!</p>
    <p><a class="btn"href="/perseus/home">Back to Safety</a></p>
        </main>