<!-- Head of the website -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&family=Nunito:ital,wght@0,500;0,700;0,900;1,900&family=Raleway:ital,wght@0,100;0,400;0,500;0,800;0,900;1,300;1,900&family=Secular+One&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title><%= pageTitle %></title>
    <link rel="icon" href="<%=graph.imageUrl%> " />
    <link rel="stylesheet" href="/perseus/styles/base.css" />
    <link rel="stylesheet" href="/perseus/styles/navigation.css" />
    <link rel="stylesheet" href="/perseus/styles/footer.css" />
  </head>
</html>
