<!-- Main logo of the website -->
<section>
  <div id="logo">
    <a id="logo_a" href="/perseus/home"
      ><img
        class="pedigree_img"
        src="<%=graph.imageUrl%> "
        alt="<%=graph.name%> "
      /><em><h1 class="title">PERSEUS</h1></em></a
    >
  </div>
</section>
