/*General*/
* {
  box-sizing: border-box;
}

/*General HTML*/
html {
  /*font-family: "Manrope", sans-serif;*/
  /*font-family: "Nunito", sans-serif;*/
  /*font-family: "Raleway", sans-serif;*/
  /*font-family: "Secular One", sans-serif;*/
  font-family: "Source Sans 3", sans-serif;

  /*General colour pallete variables*/
  --color-grey-50: rgb(242, 243, 250);
  --color-grey-100: rgb(230, 231, 238);
  --color-grey-200: rgb(211, 211, 211);
  --color-grey-300: rgb(166, 166, 167);
  --color-grey-350: rgb(148, 148, 148);
  --color-grey-400: rgb(91, 91, 91);
  --color-grey-600: rgb(63, 63, 66);
  --color-grey-700: rgb(46, 46, 49);
  --color-grey-900: rgb(35, 33, 35);

  --color-blue-50: rgb(218, 228, 236);
  --color-blue-100: rgb(130, 222, 243);
  --color-blue-150: rgb(119, 172, 218);
  --color-blue-200: rgb(55, 206, 240);
  --color-blue-400: rgb(45, 116, 177);
  --color-blue-600: rgb(5, 65, 160);

  --color-yellow-100: rgb(229, 231, 162);
  --color-yellow-250: rgb(230, 235, 107);
  --color-yellow-400: rgb(233, 216, 65);

  --color-orange-50: rgb(243, 218, 184);
  --color-orange-100: rgb(231, 200, 160);
  --color-orange-250: rgb(230, 177, 107);
  --color-orange-400: rgb(244, 167, 65);

  --color-green-300: rgb(136, 198, 127);
  --color-green-400: rgb(112, 196, 99);
  --color-green-500: rgb(97, 191, 82);
  --color-green-700: rgb(25, 172, 27);

  --color-primary-500-white: rgb(253, 250, 250);
  --color-primary-600-black: rgb(34, 33, 33);
  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);
  --color-error-700: rgb(145, 37, 11);

  /*Use efined spacing and margins*/
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 2rem;
  --space-8: 4rem;
  --space-9: 6rem;
  --space-10: 8rem;
  --space-11: 12rem;

  /*border radius and shadows definitions*/
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-big: 10px;
  --border-radius-extrabig: 20px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
  --shadow-dark: 0 3px 7px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--color-grey-100);
  color: var(--color-grey-700);
  font-size: large;
  font-weight: 400;
  width: 100%;
  margin: 0;
}

main {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding-top: 0.1rem;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-blue-400);
}

/*Regular button all over the webpage*/
.btn {
  cursor: pointer;
  font: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: var(--color-green-500);
  color: var(--color-grey-700);
  border-radius: var(--border-radius-big);
  border: none;
  box-shadow: var(--shadow-medium);
  display: flex;
  margin: 2rem auto;
}

.btn:hover,
.btn:active {
  background-color: var(--color-green-700);
}

/*Max Width 62rem*/
@media (max-width: 62rem) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  main {
    width: 100%;
  }
}
