/*/*FOOTER*/
footer {
  background-color: white;
  padding-top: 1rem;
  border-width: 3rem;
  border-top: 1px solid var(--color-grey-200);
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

.footdescrip {
  font-size: 1rem;
  text-align: center;
}

.footernote {
  color: var(--color-grey-350);
  font-size: 1rem;
  text-align: center;
}

/*Divisions*/
#footer {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  align-items: center;
  padding-right: auto;
}

#footer div:nth-of-type(2) {
  width: 0;
}

/*Socials*/
#social {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--color-grey-200);
  border-bottom: 1px solid var(--color-grey-200);
}
#social li:nth-of-type(1) {
  grid-column: 1 / span 5;
  margin-top: 1rem;
}

#social img {
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
  transition: 0.3s;
  filter: invert(0.5) brightness(0.5);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#social img:active,
#social img:hover {
  filter: invert(0) brightness(1.1);
}

/*Centers*/
#centers {
  list-style: none;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--color-grey-200);
  border-bottom: 1px solid var(--color-grey-200);
}

#centers li:nth-of-type(1) {
  grid-column: 1 / span 3;
  text-align: left;
  margin-top: 1rem;
  width: 70%;
}

#centers .crag img {
  width: 8rem;
  height: auto;
  filter: invert(0.5) brightness(0.5);
  transition: 0.3s;
}
#centers .irta img {
  width: 5.5rem;
  height: auto;
  filter: invert(0.5) brightness(0.5);
  transition: 0.3s;
}

#centers img:active,
#centers img:hover {
  filter: invert(0) brightness(0.8);
}

.followus {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

/*Scroll Button*/
#scrollBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--color-grey-200);
  color: var(--color-grey-700);
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-size: 0.8rem;
  width: 3rem;
  height: 3rem;
}

#scrollBtn:active,
#scrollBtn:hover {
  background-color: var(--color-grey-300);
  color: var(--color-grey-600);
  font-weight: bold;
}

#flaticon {
  color: var(--color-grey-400);
  font-size: 0.7rem;
  text-align: center;
  width: 100%;
  margin: 0;
  padding-top: 0.5rem;
}

/*Max Widths*/
@media (max-width: 49rem) {
  footer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #footer {
    grid-template-columns: 1fr 0fr 1fr;
    gap: 0.4rem;
  }

  #social {
    padding-top: 0;
    padding-bottom: 0;
  }
  #social img {
    width: 1rem;
    height: 1rem;
  }

  #centers {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
  }

  #centers .crag img {
    width: 5.2rem;
  }
  #centers .irta img {
    width: 4.2rem;
  }
  .followus {
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
  }

  .footdescrip,
  .footernote {
    font-size: 0.7rem;
  }
}
